#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Custom scrollbar for dropdown */
.scrollbar-visible::-webkit-scrollbar {
  width: 8px; /* width of scrollbar */
}

.scrollbar-visible::-webkit-scrollbar-track {
  background: #e5e7eb; /* Tailwind gray-200 */
  border-radius: 4px;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Tailwind blue-500 */
  border-radius: 4px;
}

.scrollbar-visible {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #3b82f6 #e5e7eb; /* Firefox thumb & track */
}
